
/build/
/.gradle/  # Cache y otros archivos generados de Gradle

build/reports/serenity/

local.properties

*.log
logs/
*.tmp

.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

.DS_Store
Thumbs.db